@import 'tailwindcss';
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

@theme {
  --font-poppins: "Poppins", sans-serif;
  --font-sans: "Poppins", sans-serif; /* if you want Poppins to replace your default sans */
}